div {
  position: relative;
  display: inline-block;

}

p{
  padding: 0 0 30px 30px;
  font-family: 'Loved by the King', cursive;
  font-size: 30px;
}


.h {
  background: red;
}

.left-h  {
  width: 20px;
  height: 100px;
}

.middle-h {
  height: 20px;
  width: 40px;
  margin: 0 -10px 40px -10px;
}

.right-h {
  width: 20px;
  height: 100px;
}

.top-a {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 0px;
  height: 0px;
  z-index: 100;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 85px solid white;
  margin-top: -100px;
  margin-left: 10px;
}
.bottom-a {
  position: absolute;
  width: 20px;
  height: 0;
  z-index: 99;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid orange;
  margin-top: -100px;
}
.middle-a {
  height: 20px;
  width: 30px;
  background: orange;
  position: absolute;
  z-index: 150;
  margin-top: -60px;
  margin-left: 25px;
}

.container-p {
  margin-left: 80px;

}
.left-p {
  width: 20px;
  height: 100px;
  background: yellow;
}

.middle-p {
  width: 60px;
  height: 60px;
  border-radius: 42%;
  background-color: yellow;
  margin-top: -104px;
  margin-left: 30;
  position: absolute;
  z-index: -3;
}

.right-p-bottom {
  width: 60px;
  height: 60px;
  border-radius: 42%;
  background-color: yellow;
  margin-top: -104px;
  position: absolute;
  z-index: -3;
}


.right-p-top {
  position: absolute;
  z-index: -1;
  width: 42px;
  height: 26px;
  border-radius: 23%;
  margin-left: 0px;
  background-color: white;
  margin-top: -88px;
}

.container-p2{
  margin-left: 42px;
}

.left-p2 {
  width: 20px;
  height: 100px;
  background: green;
}

.middle-p2 {
  width: 60px;
  height: 60px;
  border-radius: 42%;
  background-color: green;
  margin-top: -104px;
  margin-left: 30;
  position: absolute;
  z-index: -3;
}

.right-p2-bottom {
  width: 60px;
  height: 60px;
  border-radius: 42%;
  background-color: green;
  margin-top: -104px;
  position: absolute;
  z-index: -3;
}

.container-y{
margin-left: 50px;

}

.y-border{
  width: 20px;
  height: 43px;
  text-align: center;
  border-left: 30px solid white;
  border-right: 30px solid white;
  border-top: 57px solid blue;
  background-color: blue;
  margin-left: -17px;
}

.top-y{
  position: absolute;
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-top: 40px solid white;
  margin-left: 2px;
  margin-top: -105px;
}



.right-b-top {
  position: absolute;
  z-index: -1;
  width: 37px;
  height: 24px;
  border-radius: 26%;
  margin-left: 0px;
  background-color: white;
  margin-top: -89px;
}
.container-b{
  margin-left: 42px;
}

.left-b {
  width: 20px;
  height: 100px;
  background: purple;
}

.middle-b {
  width: 60px;
  height: 60px;
  border-radius: 42%;
  background-color: purple;
  margin-top: -104px;
  margin-left: 30;
  position: absolute;
  z-index: -3;
}

.right-b-bottom {
  width: 55px;
  height: 55px;
  border-radius: 42%;
  background-color: purple;
  margin-top: -104px;
  position: absolute;
  z-index: -3;
}


.right-b-bottom2 {
  width: 60px;
  height: 55px;
  border-radius: 42%;
  background-color: purple;
  margin-top: -59px;
  position: absolute;
  z-index: -3;
}

.right-b-top2 {
  position: absolute;
  z-index: -1;
  width: 42px;
  height: 26px;
  border-radius: 23%;
  margin-left: 0px;
  background-color: white;
  margin-top: -46px;
}

.container-i {
  margin-left: 42px;
  margin-right: 5px;
}

.i {
  height: 100px;
  width: 20px;
  background:blue;
}

.left-r {
  width: 20px;
  height: 100px;
  background: green;
}


.right-r-bottom {
  width: 60px;
  height: 60px;
  border-radius: 42%;
  background-color: green;
  margin-top: -104px;
  position: absolute;
  z-index: -3;
}


.right-r-top {
  position: absolute;
  z-index: -1;
  width: 41px;
  height: 27px;
  border-radius: 23%;
  background-color: white;
  margin-top: -85px;
}

.r-slash-bottom {
  position: absolute;
  z-index: -1;
  height: 47px;
  width: 40px;
  background-color: green;
  margin-top: -51px;
  margin-left: 19px;
  border-radius: 0px 19px 0 0;
}

.r-slash-top {
  position: absolute;
  z-index: 1;
  height: 35px;
  width: 19px;
  background-color: white;
  margin-top: -39px;
  margin-left: 20px;
  border-radius: 0px 10px 0 0;
}

.container-t {
  margin-left: 40px;
}

.top-t {
width: 65px;
height: 20px;
background-color: yellow;
margin-bottom: 80px;
}

.bottom-t {
  height: 80px;
  width: 20px;
  background-color: yellow;
  margin-left: -47px;

}

.h2 {
  background-color: orange
}

.container-d {
  margin-left: 2px;
}

.background-d {
  width: 70px;
  height: 100px;
  border-radius: 0 35px 35px 0;
  background-color: red;
}

.top-d {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 60px;
  margin-left: 20px;
  margin-top: -83px;
  border-radius: 0 16px 16px 0;
  background-color: white;
}

.a2 {
  margin-left: -7px;
 }

.top-a2 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 0px;
  height: 0px;
  z-index: 100;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 85px solid white;
  margin-top: -100px;
  margin-left: 10px;
}
.bottom-a2 {
  position: absolute;
  width: 20px;
  height: 0;
  z-index: 99;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid purple;
  margin-top: -100px;
}
.middle-a2 {
  height: 20px;
  width: 30px;
  background: purple;
  position: absolute;
  z-index: 150;
  margin-top: -60px;
  margin-left: 25px;
}

.y2 {
  margin-left: 71px;
}

.meme {
width: 300px;
margin: 50px 0 0 100px;
}

.present {
  background: white;
  font-family: 'Loved by the King', cursive;
  font-size: 30px;
  width: 300px;
  padding: 100px 0;
  position: absolute;
  z-index: 500;
  margin: 50px 0 0 100px;
  text-align: center;
}

.present:hover {
  z-index: -1;
}

.cheers{
  text-align: right;
}